config DVB_MANTIS
	tristate "MANTIS based cards"
	depends on DVB_CORE && PCI && I2C && INPUT
	select DVB_MB86A16 if !DVB_FE_CUSTOMISE
	select DVB_CU1216 if !DVB_FE_CUSTOMISE
	select DVB_ZL10353 if !DVB_FE_CUSTOMISE
	select DVB_STV0299 if !DVB_FE_CUSTOMISE
	select DVB_PLL if !DVB_FE_CUSTOMISE
	help
	  Support for PCI cards based on the Mantis PCI bridge.
	  Say Y when you have a Mantis based DVB card and want to use it.

	  If unsure say N.
